# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.read_csv('SINASC_RO_2019.csv')
df.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [3]:
df['munResLat']

0       -11.93554
1       -11.93554
2       -11.93554
3       -12.13178
4       -11.93554
           ...
27023   -12.74137
27024   -12.55684
27025   -12.74137
27026   -12.74137
27027   -11.70974
Name: munResLat, Length: 27028, dtype: float64

In [5]:
df.munResLat.aggregate([max, 'min'])

max    -8.76889
min   -13.49976
Name: munResLat, dtype: float64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27028 entries, 0 to 27027
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORIGEM        27028 non-null  int64
 1   CODESTAB      26913 non-null  float64
 2   CODMUNNASC    27028 non-null  int64
 3   LOCNASC       27028 non-null  int64
 4   IDADEMAE      27028 non-null  int64
 5   ESTCIVMAE     26711 non-null  float64
 6   ESCMAE        26716 non-null  object
 7   CODOCUPMAE    24121 non-null  float64
 8   QTDFILVIVO    25455 non-null  float64
 9   QTDFILMORT    24930 non-null  float64
 10  CODMUNRES     27028 non-null  int64
 11  GESTACAO      25796 non-null  object
 12  GRAVIDEZ      26949 non-null  object
 13  PARTO         26979 non-null  object
 14  CONSULTAS     27028 non-null  int64
 15  DTNASC        27028 non-null  object
 16  HORANASC      27007 non-null  float64
 17  SEXO          27024 non-null  object
 18  APGAR1        26932 non-null  float64
 19  APGAR5        26925 non-null  float64
 20  RACACOR       26381 non-null  object
 21  PESO          27028 non-null  int64
 22  IDANOMAL      26437 non-null  float64
 23  DTCADASTRO    27028 non-null  object
 24  CODANOMAL     214 non-null    object
 25  NUMEROLOTE    27028 non-null  int64
 26  VERSAOSIST    27028 non-null  object
 27  DTRECEBIM     27028 non-null  object
 28  DIFDATA       27028 non-null  int64
 29  DTRECORIGA    0 non-null      float64
 30  NATURALMAE    26730 non-null  float64
 31  CODMUNNATU    26730 non-null  float64
 32  CODUFNATU     26730 non-null  float64
 33  ESCMAE2010    26779 non-null  float64
 34  SERIESCMAE    14318 non-null  float64
 35  DTNASCMAE     26988 non-null  float64
 36  RACACORMAE    26367 non-null  float64
 37  QTDGESTANT    25816 non-null  float64
 38  QTDPARTNOR    25149 non-null  float64
 39  QTDPARTCES    25237 non-null  float64
 40  IDADEPAI      7607 non-null   float64
 41  DTULTMENST    16956 non-null  float64
 42  SEMAGESTAC    25790 non-null  float64
 43  TPMETESTIM    25790 non-null  float64
 44  CONSPRENAT    26098 non-null  float64
 45  MESPRENAT     24161 non-null  float64
 46  TPAPRESENT    26763 non-null  float64
 47  STTRABPART    26081 non-null  float64
 48  STCESPARTO    26281 non-null  float64
 49  TPNASCASSI    26967 non-null  float64
 50  TPFUNCRESP    26961 non-null  float64
 51  TPDOCRESP     27014 non-null  float64
 52  DTDECLARAC    26976 non-null  float64
 53  ESCMAEAGR1    26779 non-null  float64
 54  STDNEPIDEM    27028 non-null  int64
 55  STDNNOVA      27028 non-null  int64
 56  CODPAISRES    27028 non-null  int64
 57  TPROBSON      27028 non-null  int64
 58  PARIDADE      27028 non-null  int64
 59  KOTELCHUCK    27028 non-null  int64
 60  CONTADOR      27028 non-null  int64
 61  munResStatus  27028 non-null  object
 62  munResTipo    27028 non-null  object
 63  munResNome    27028 non-null  object
 64  munResUf      27028 non-null  object
 65  munResLat     27027 non-null  float64
 66  munResLon     27027 non-null  float64
 67  munResAlt     27027 non-null  float64
 68  munResArea    27027 non-null  float64
dtypes: float64(38), int64(16), object(15)
memory usage: 14.2+ MB

# Tarefa 2

### 1. Crie 2 faixas de Latitude do município (munResLat) sendo uma acima e outra abaixo de -10.5 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [31]:
latitude = pd.cut(df['munResLat'], [-float('inf'), -10.5, float('inf')], labels=['latitudes menores que -10.5', 'latitudes maiores ou iguais a -10.5'])

df.pivot_table(values=['QTDPARTCES', 'QTDPARTNOR'],
                     index=latitude,
                     aggfunc=[max, 'min', 'median', 'mean', 'std', 'var'])

                                           max                   min  \
                                    QTDPARTCES QTDPARTNOR QTDPARTCES
munResLat
latitudes menores que -10.5               12.0       41.0        0.0
latitudes maiores ou iguais a -10.5       12.0       40.0        0.0

                                                   median             \
                                    QTDPARTNOR QTDPARTCES QTDPARTNOR
munResLat
latitudes menores que -10.5                0.0        0.0        0.0
latitudes maiores ou iguais a -10.5        0.0        0.0        0.0

                                          mean                   std  \
                                    QTDPARTCES QTDPARTNOR QTDPARTCES
munResLat
latitudes menores que -10.5           0.552570   0.452242   0.753036
latitudes maiores ou iguais a -10.5   0.487335   0.711759   0.737899

                                                      var
                                    QTDPARTNOR QTDPARTCES QTDPARTNOR
munResLat
latitudes menores que -10.5           1.123426   0.567062   1.262087
latitudes maiores ou iguais a -10.5   1.279042   0.544495   1.635949

### 2. Crie 2 faixas da área dos municípios (munResArea) sendo uma acima e outra abaixo de 3000 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [32]:
area = pd.cut(df['munResArea'], [-float('inf'), 3000, float('inf')], labels=['áreas menores ou iguais a 3000', 'áreas maiores que 3000'])

df.pivot_table(values=['QTDPARTCES', 'QTDPARTNOR'],
                     index=area,
                     aggfunc=[max, 'min', 'median', 'mean', 'std', 'var'])

                                      max                   min             \
                               QTDPARTCES QTDPARTNOR QTDPARTCES QTDPARTNOR
munResArea
áreas menores ou iguais a 3000        5.0       10.0        0.0        0.0
áreas maiores que 3000               12.0       41.0        0.0        0.0

                                   median                  mean             \
                               QTDPARTCES QTDPARTNOR QTDPARTCES QTDPARTNOR
munResArea
áreas menores ou iguais a 3000        0.0        0.0   0.572981   0.371334
áreas maiores que 3000                0.0        0.0   0.507070   0.632982

                                      std                   var
                               QTDPARTCES QTDPARTNOR QTDPARTCES QTDPARTNOR
munResArea
áreas menores ou iguais a 3000   0.749368   0.856441   0.561553   0.733490
áreas maiores que 3000           0.744981   1.278932   0.554997   1.635668

### 3. Determine faixas na variável munResAlt e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [34]:
df.munResAlt.aggregate('mean')

179.11199911199913

In [35]:
altura = pd.cut(df['munResAlt'], [-float('inf'), 180, float('inf')], labels=['altura menores ou iguais a 180', 'altura maiores que 180'])

df.pivot_table(values=['QTDPARTCES', 'QTDPARTNOR'],
                     index=altura,
                     aggfunc=[max, 'min', 'median', 'mean', 'std', 'var'])

                                      max                   min             \
                               QTDPARTCES QTDPARTNOR QTDPARTCES QTDPARTNOR
munResAlt
altura menores ou iguais a 180       12.0       40.0        0.0        0.0
altura maiores que 180                5.0       41.0        0.0        0.0

                                   median                  mean             \
                               QTDPARTCES QTDPARTNOR QTDPARTCES QTDPARTNOR
munResAlt
altura menores ou iguais a 180        0.0        0.0   0.484635   0.674020
altura maiores que 180                0.0        0.0   0.601340   0.366701

                                      std                   var
                               QTDPARTCES QTDPARTNOR QTDPARTCES QTDPARTNOR
munResAlt
altura menores ou iguais a 180   0.742234   1.253788   0.550911   1.571985
altura maiores que 180           0.749273   1.072247   0.561411   1.149714

### 4. Plote no mesmo grafico ao longo do tempo a idade media das mulheres de cada regiao imediatas de rondonia
https://pt.wikipedia.org/wiki/Lista_de_regi%C3%B5es_geogr%C3%A1ficas_intermedi%C3%A1rias_e_imediatas_de_Rond%C3%B4nia

In [78]:
imediatas = {
    "110001": "Porto Velho",
    "110002": "Porto Velho",
    "110003": "Porto Velho",
    "110004": "Ji-Paraná",
    "110005": "Ji-Paraná",
    "110006": "Ji-Paraná"
}

df2 = df.copy()
df2

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27023,1,2604388.0,510340,1,32,2.0,12 anos ou mais,333115.0,1.0,0.0,...,5,2767632,ATIVO,MUNIC,Vilhena,Rondônia,-12.74137,-60.13858,595.0,11518.915
27024,1,2752654.0,510675,1,19,1.0,8 a 11 anos,999992.0,0.0,0.0,...,5,2772678,ATIVO,MUNIC,Chupinguaia,Rondônia,-12.55684,-60.90185,340.0,5126.723
27025,1,9659366.0,510787,1,24,2.0,8 a 11 anos,421125.0,0.0,1.0,...,5,2776905,ATIVO,MUNIC,Vilhena,Rondônia,-12.74137,-60.13858,595.0,11518.915
27026,1,9659366.0,510787,1,21,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2777105,ATIVO,MUNIC,Vilhena,Rondônia,-12.74137,-60.13858,595.0,11518.915
27027,1,2795655.0,510792,1,18,5.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2780269,ATIVO,MUNIC,Novo Horizonte do Oeste,Rondônia,-11.70974,-61.99439,230.0,843.446

In [79]:
df2['CODMUNNASC'] = df2['CODMUNNASC'].astype(str)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27028 entries, 0 to 27027
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORIGEM        27028 non-null  int64
 1   CODESTAB      26913 non-null  float64
 2   CODMUNNASC    27028 non-null  object
 3   LOCNASC       27028 non-null  int64
 4   IDADEMAE      27028 non-null  int64
 5   ESTCIVMAE     26711 non-null  float64
 6   ESCMAE        26716 non-null  object
 7   CODOCUPMAE    24121 non-null  float64
 8   QTDFILVIVO    25455 non-null  float64
 9   QTDFILMORT    24930 non-null  float64
 10  CODMUNRES     27028 non-null  int64
 11  GESTACAO      25796 non-null  object
 12  GRAVIDEZ      26949 non-null  object
 13  PARTO         26979 non-null  object
 14  CONSULTAS     27028 non-null  int64
 15  DTNASC        27028 non-null  object
 16  HORANASC      27007 non-null  float64
 17  SEXO          27024 non-null  object
 18  APGAR1        26932 non-null  float64
 19  APGAR5        26925 non-null  float64
 20  RACACOR       26381 non-null  object
 21  PESO          27028 non-null  int64
 22  IDANOMAL      26437 non-null  float64
 23  DTCADASTRO    27028 non-null  object
 24  CODANOMAL     214 non-null    object
 25  NUMEROLOTE    27028 non-null  int64
 26  VERSAOSIST    27028 non-null  object
 27  DTRECEBIM     27028 non-null  object
 28  DIFDATA       27028 non-null  int64
 29  DTRECORIGA    0 non-null      float64
 30  NATURALMAE    26730 non-null  float64
 31  CODMUNNATU    26730 non-null  float64
 32  CODUFNATU     26730 non-null  float64
 33  ESCMAE2010    26779 non-null  float64
 34  SERIESCMAE    14318 non-null  float64
 35  DTNASCMAE     26988 non-null  float64
 36  RACACORMAE    26367 non-null  float64
 37  QTDGESTANT    25816 non-null  float64
 38  QTDPARTNOR    25149 non-null  float64
 39  QTDPARTCES    25237 non-null  float64
 40  IDADEPAI      7607 non-null   float64
 41  DTULTMENST    16956 non-null  float64
 42  SEMAGESTAC    25790 non-null  float64
 43  TPMETESTIM    25790 non-null  float64
 44  CONSPRENAT    26098 non-null  float64
 45  MESPRENAT     24161 non-null  float64
 46  TPAPRESENT    26763 non-null  float64
 47  STTRABPART    26081 non-null  float64
 48  STCESPARTO    26281 non-null  float64
 49  TPNASCASSI    26967 non-null  float64
 50  TPFUNCRESP    26961 non-null  float64
 51  TPDOCRESP     27014 non-null  float64
 52  DTDECLARAC    26976 non-null  float64
 53  ESCMAEAGR1    26779 non-null  float64
 54  STDNEPIDEM    27028 non-null  int64
 55  STDNNOVA      27028 non-null  int64
 56  CODPAISRES    27028 non-null  int64
 57  TPROBSON      27028 non-null  int64
 58  PARIDADE      27028 non-null  int64
 59  KOTELCHUCK    27028 non-null  int64
 60  CONTADOR      27028 non-null  int64
 61  munResStatus  27028 non-null  object
 62  munResTipo    27028 non-null  object
 63  munResNome    27028 non-null  object
 64  munResUf      27028 non-null  object
 65  munResLat     27027 non-null  float64
 66  munResLon     27027 non-null  float64
 67  munResAlt     27027 non-null  float64
 68  munResArea    27027 non-null  float64
dtypes: float64(38), int64(15), object(16)
memory usage: 14.2+ MB

In [80]:
df2 = df2.set_index('CODMUNNASC') 
df2

,ORIGEM,CODESTAB,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,CODMUNRES,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
CODMUNNASC,,,,,,,,,,,,,,,,,,,,,
110001,1,2679477.0,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,110001,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
110001,1,2679477.0,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,110001,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
110001,1,2679477.0,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,110001,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
110001,1,2516500.0,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,110037,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
110001,1,2516500.0,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,110001,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510340,1,2604388.0,1,32,2.0,12 anos ou mais,333115.0,1.0,0.0,110030,...,5,2767632,ATIVO,MUNIC,Vilhena,Rondônia,-12.74137,-60.13858,595.0,11518.915
510675,1,2752654.0,1,19,1.0,8 a 11 anos,999992.0,0.0,0.0,110092,...,5,2772678,ATIVO,MUNIC,Chupinguaia,Rondônia,-12.55684,-60.90185,340.0,5126.723
510787,1,9659366.0,1,24,2.0,8 a 11 anos,421125.0,0.0,1.0,110030,...,5,2776905,ATIVO,MUNIC,Vilhena,Rondônia,-12.74137,-60.13858,595.0,11518.915
510787,1,9659366.0,1,21,2.0,8 a 11 anos,999992.0,1.0,0.0,110030,...,5,2777105,ATIVO,MUNIC,Vilhena,Rondônia,-12.74137,-60.13858,595.0,11518.915
510792,1,2795655.0,1,18,5.0,8 a 11 anos,999992.0,1.0,0.0,110050,...,5,2780269,ATIVO,MUNIC,Novo Horizonte do Oeste,Rondônia,-11.70974,-61.99439,230.0,843.446

In [82]:
df2.loc[:, 'DTNASC'] = pd.to_datetime(df['DTNASC'])
df2.groupby([imediatas], dropna=True)['IDADEMAE'].agg('mean')

CODMUNNASC
Ji-Paraná      27.122977
Porto Velho    25.742113
Name: IDADEMAE, dtype: float64

### 5. Utilize a tabela do link abaixo e crie faixas utilizando o mapping e gere agrupamentos utilizando essas faixas como chave

### 5.1 IDH
A - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IDH-M

In [89]:
idh = {
    "Candeias do Jamari": "IDH-M médio",
    "Guajará-Mirim": "IDH-M médio",
    "Porto Velho": "IDH-M alto",
    "Machadinho D'Oeste": "IDH-M baixo",
    "Seringueiras": "IDH-M baixo",
    "Vilhena": "IDH-M alto",
}

df3 = df.copy()

In [125]:
df3 = df[df['munResNome'].isin(['Candeias do Jamari', 'Guajará-Mirim', 'Porto Velho', "Machadinho D'Oeste", 'Seringueiras', 'Vilhena'])]

df3 = df3[['QTDFILVIVO', 'IDADEPAI', 'IDADEMAE', 'munResNome','APGAR5', 'APGAR1']]

In [126]:
df3 = df3.set_index('munResNome') 
df3

                    QTDFILVIVO  IDADEPAI  IDADEMAE  APGAR5  APGAR1
munResNome
Porto Velho                0.0       NaN        22     9.0     8.0
Vilhena                    1.0       NaN        40    10.0     9.0
Candeias do Jamari         1.0       NaN        36    10.0     9.0
Porto Velho                0.0       NaN        22    10.0     9.0
Porto Velho                2.0       NaN        29    10.0     9.0
...                        ...       ...       ...     ...     ...
Vilhena                    2.0      38.0        34     9.0     8.0
Vilhena                    0.0      33.0        34     9.0     9.0
Vilhena                    1.0      35.0        32     9.0     8.0
Vilhena                    0.0      30.0        24    10.0     9.0
Vilhena                    1.0      24.0        21     9.0     8.0

[11813 rows x 5 columns]

In [127]:
df3.groupby([idh], dropna=True).mean()

             QTDFILVIVO   IDADEPAI   IDADEMAE    APGAR5    APGAR1
munResNome
IDH-M alto     1.122880  32.716152  26.331904  9.192697  8.266098
IDH-M baixo    1.054795  31.123188  25.336826  9.040724  7.762406
IDH-M médio    1.512605  30.166667  25.396243  9.274795  8.231119

### 5.2 IFDM 
B - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IFDM

In [110]:
desen = {
    "Candeias do Jamari": "Desenvolvimento moderado",
    "Porto Velho": "Desenvolvimento moderado",
    "Machadinho D'Oeste": "Desenvolvimento regular",
    "Seringueiras": "Desenvolvimento regular",
    "Vilhena": "Desenvolvimento moderado",
}

df4 = df.copy()

In [122]:
df4 = df[df['munResNome'].isin(['Candeias do Jamari', 'Guajará-Mirim', 'Porto Velho', "Machadinho D'Oeste", 'Seringueiras', 'Vilhena'])]

df4 = df4[['QTDFILVIVO', 'IDADEPAI', 'IDADEMAE', 'munResNome', 'APGAR5', 'APGAR1']]

df4 = df4.set_index('munResNome')

In [123]:
df4.groupby([desen], dropna=True).mean()

                          QTDFILVIVO   IDADEPAI   IDADEMAE    APGAR5    APGAR1
munResNome
Desenvolvimento moderado    1.133080  32.653891  26.296507  9.195030  8.265968
Desenvolvimento regular     1.054795  31.123188  25.336826  9.040724  7.762406

### 5.3 PIB
C - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_PIB

In [117]:
pib = {
    "Candeias do Jamari": "Acima de 500 Milhões",
    "Porto Velho": "Acima de 1 Bilhão",
    "Machadinho D'Oeste": "Acima de 500 Milhões",
    "Seringueiras": "Acima de 100 Milhões",
    "Vilhena": "Acima de 1 Bilhão",
}

df5 = df.copy()

In [120]:
df5 = df[df['munResNome'].isin(['Candeias do Jamari', 'Guajará-Mirim', 'Porto Velho', "Machadinho D'Oeste", 'Seringueiras', 'Vilhena'])]

df5 = df5[['QTDFILVIVO', 'IDADEPAI', 'IDADEMAE', 'munResNome', 'APGAR5', 'APGAR1']]

df5 = df5.set_index('munResNome')

In [121]:
df5.groupby([pib], dropna=True).mean()

                      QTDFILVIVO   IDADEPAI   IDADEMAE    APGAR5    APGAR1
munResNome
Acima de 1 Bilhão       1.122880  32.716152  26.331904  9.192697  8.266098
Acima de 100 Milhões    0.880240  30.500000  24.910714  9.404762  7.750000
Acima de 500 Milhões    1.236111  31.105691  25.384707  9.056832  7.965018

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados.

Exemplo:
- Os índices de APGAR se mantém em um padrão mesmo nos municípios mais pobres ou menos desenvolvidos.
- A média de filhos vivos é menor do que 1 nos municípios mais pobres.